style.
  .btn{
    margin-right:15px;
    width : 60px;
  }

h3 Supprimer l'utilisateur {{user[0].username}} ?
div
  Button.btn.btn-success(ng-click='yes()') YES
  Button.btn.btn-danger(ng-click='no()') NO
